@font-face {
	font-family: 'Artifika';
	src: url('../fonts/Artifika-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Elder Magic Shadow';
	src: url('../fonts/ElderMagicShadow.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Elder Magic';
	src: url('../fonts/ElderMagic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

